#logo{
    color:#2f5e92;
    font-weight: 700;
    font-size:2.35em;
    float:left;
    margin:0;
}
nav{
    float:right
}
nav a{
    color:#292929;
    font-weight:700;
    text-decoration: none;
    margin-left: 2rem;
}
#banner{
    padding: 2rem 0;
}